@{
    ViewBag.Title = "Suscess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart-view">
    <div class="alert alert-success">
        <h4 style="text-align:center">Đặt hàng thành công. Bộ phận chuyển giao sẽ giao sản phẩm trong vòng 3 ngày kể từ phiên làm việc tiếp theo. Cảm ơn!</h4>
    </div>
</section>




