@model List<Model.EntityFramework.NEWS>

@foreach (var item in Model.Where(x => x.NEW_TITLE != null))
{
    <li>
        <a class="aa-cartbox-img" href="@Url.Action("Chitiet","News",new {id=item.NEW_ID})"><img src="~/Image/HinhSanPham/images/News/@item.IMAGE"></a>
        <div class="aa-cartbox-info">
            <h4><a href="@Url.Action("Chitiet","News",new {id=item.NEW_ID})">@item.NEW_TITLE</a></h4>
            <p>@item.CREATEDAY</p>
        </div>
    </li>
}

