
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PHÂN QUYỀN</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            @Html.Action("Permission", "AdminRole")
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            @Html.Action("Role", "AdminRole")
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>


